
/* Foto de <a href="https://unsplash.com/es/@christiannkoepke?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Christiann Koepke</a> en <a href="https://unsplash.com/es/fotos/tarta-con-toppings-de-fresa-AigxB1zfRVo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
/* Foto de <a href="https://unsplash.com/es/@biglaughkitchen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Deva Williamson</a> en <a href="https://unsplash.com/es/fotos/magdalena-horneada-S2jw81lfrG0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
    background-image: url(img/christiann-koepke-AigxB1zfRVo-unsplash.jpg);
    height: 100%; 
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-sheet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.form-sheet h1{
    font-family: Pacifico;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.form-sheet form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .user-name{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.user-name input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.user-name label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
form .password{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.password input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}